<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API for character creation</title>
    <link type="text/css" rel="stylesheet" href="/style.css" />
    <script defer src="../script.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body onload="inicio()">
    <div class="side-menu">
      <ul>
        <li>
          <a onclick="inicio()" class="title-text"><strong>Information</strong></a>
        </li>
        <li><a onclick="apiCall(this.innerText)">Beard</a></li>
        <li><a onclick="apiCall(this.innerText)">Dress</a></li>
        <li><a onclick="apiCall(this.innerText)">Equipment</a></li>
        <li><a onclick="apiCall(this.innerText)">Eyes</a></li>
        <li><a onclick="apiCall(this.innerText)">Glasses</a></li>
        <li><a onclick="apiCall(this.innerText)">Hair back</a></li>
        <li><a onclick="apiCall(this.innerText)">Hair front</a></li>
        <li><a onclick="apiCall(this.innerText)">Mouth</a></li>
        <li><a onclick="apiCall(this.innerText)">Pants</a></li>
        <li><a onclick="apiCall(this.innerText)">Shield</a></li>
        <li><a onclick="apiCall(this.innerText)">Shoe</a></li>
        <li><a onclick="apiCall(this.innerText)">Skin color</a></li>
        <li><a onclick="apiCall(this.innerText)">Sword</a></li>
        <li><a onclick="apiCall(this.innerText)">Tie</a></li>
      </ul>
    </div>
    <div class="main-container">
      <h1>Pixel Character Creation API</h1>

      <div class="info-section">
        
      </div>

      <code class="oncoming-data"></code>
    </div>
  </body>
</html>
