<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <script>
    function apiCall() {
      fetch("https://character-creation-api.herokuapp.com/beard/beard1")
        .then(response => response.json())
        .then(data => {
          console.log(data);
          document.getElementById("api-output").innerHTML = data;
        });
    }
  </script>
  <div class="api-output"></div>
  <body>
    <button onclick="apiCall()">test</button>
  </body>
</html>
