@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Rubik:wght@300;400;500;700&family=Space+Mono&display=swap');

body {
  background-color: #1e1e1e;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: white;
  font-weight: 300;
  overflow-x: hidden;
  padding-bottom: 30px;
}

.side-menu {
  width: 165px;
  height: 100vh;
  position: fixed;
  padding-top: 40px;
  background-color: #181818;
  margin-right: 0;
}

.side-menu ul {
  list-style-type: none;
  padding: 0 0 16px 0;
}

.unclickable {
  cursor: default !important;
}

.side-menu li {
  cursor: pointer;
  padding: 4px 6px;
  max-width: 180px;
  font-size: 16px;
  color: rgb(182, 182, 182);
}

.side-menu a {
  margin: 20px;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  text-decoration: none;
}

.side-menu li:hover, .light-theme:hover {
  color: #fefefe;
}

.light-theme {
  color: rgb(182, 182, 182);;
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer
}

.light-theme svg{
  margin-right: 5px;
}

h1 {
  font-size: 40px;
  margin-bottom: 12px;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 5px;
}

.example-img {
  margin-bottom: 30px;
}

.example-img img {
  width: 150px;
}

.main-container a, .main-container a:visited {
  color: #5e9eff;
  text-decoration: none;
}

.title-text {
  font-size: 18px;
  font-weight: 600;
}

.title-text:first-child {
  cursor: pointer;
  color: #fefefe;
}

.main-container {
  display: flex;
  margin-left: 250px;
  margin-top: 25px;
  flex-direction: column;
  max-width: 750px;
}

.sub-text {
  color: rgb(184, 184, 184);
  margin-top: 0;
}

.info-section pre {
  margin: -10px 0 0 0;
}

#useful-h2 {
  margin-top: 40px;
}

.info-section p {
  margin: 1px 0 30px 0;
}

.info-section code {
  padding: 18px;
  background-color: rgb(55, 55, 55);
  font-size: 14px;
  color: whitesmoke;
}

pre code {
  border: 1px solid #999;
  display: block;
  padding: 10px 20px 10px 0;
  width: 650px;
}

.div-item {
  display: flex;
  margin: 3px;
  background: rgb(112, 112, 112);
  width: fit-content;
  padding: 5px;
  align-items: center;
  text-align: left;
}

.img-item {
  width: 172;
  height: 150px;
  margin: 5px;
  background: white;
}

.text-item {
  font-size: 14px;
  background: rgb(55, 55, 55);
  border: 1px solid #999;
  color: whitesmoke;
  margin: 5px;
  padding: 20px 10px 1px 10px;
  width: fit-content;
  resize: none;
  width: 700px;
  height: 132px;
  overflow-x: scroll;
  white-space: nowrap;
  line-height: 1.3rem;
}

.coding-area {
  font-size: 13px;
  font-family: 'Space Mono', monospace;
  background: rgb(55, 55, 55);
  margin: 5px;
  padding: 10px;
  color: whitesmoke;
  width: fit-content;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  height: 8px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(172, 172, 172);
}

.param {
  color: #7aa7eb;
}

.function {
  color: #ebda7a;
}

.string {
  color: #c49144;
}

footer {
  position: fixed;
  width: fit-content;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.123);
  padding: 16px;
  display: flex;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  padding-right: 8px;
  width: 16px;
}

footer a:hover {
  color: #b8b8b8;
  text-decoration: none;
}

/* CHANGE TEXT SELECTION COLOR */
